include /component/pug/layout/_header

-
  const navList = {
    'ホーム': { 'ホーム': '/' },
    'プロダクト': {
      '機能': '/product',
      '料金': '/product/price',
      'API': '/product/api',
      'セキュリティ': '/product/security'
    },
    '会社情報': {
      '会社概要': '/company',
      '求人情報': '/career',
      'ブログ': '/blog'
    },
    'サポート': {
      'ヘルプセンター': '/support',
      'お問い合わせ': '/contact',
      'コミュニティ': '/community',
      'ドキュメント': '/document'
    }
  };

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- ----------------------------
    //- title
    //- ----------------------------

    block title
      - const title = "FlowSync";
      if pageTitle
        title #{ pageTitle } | #{ title }
      else
        title #{ title }

    //- ----------------------------
    //- style
    //- ----------------------------

    block style
      link(rel="stylesheet", href="/assets/style/main.css")

    //- ----------------------------
    //- style
    //- ----------------------------

    block font
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
      link(
        rel="stylesheet",
        href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap"
      )

    //- ----------------------------
    //- scirpt
    //- ----------------------------

    block script
      script(type="module", src="assets/js/main.js")
      script(
        src="https://kit.fontawesome.com/739443d1a5.js",
        crossorigin="anonymous"
      )
  //- ----------------------------
  //- main content
  //- ----------------------------
  body
    +header(navList)
    main
      block content
