mixin info-card(items = [], position = '', color = '')
  ul.col&attributes(attributes)
    each item in items
      li.info-card.card(class=`${position} ${color}`)
        if item.icon
          .info-card__icon.icon
            i(class=`fa-solid fa-${item.icon} ${item.iconColor}`)
        h3.info-card__title= item.title
        p.info-card__description= item.description
